<html>
    <head>
        <title></title>
        <!-- CSS only -->
        <style>
            .center{
                margin-top: 30px;
            }
            .table{
                margin-top: 80px;
            }
            .table tbody {
                padding: 20px;
            }
        </style>
        <link rel="stylesheet" href="css/center.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    </head>
    <body>
    <div class="container">
    <div class="center">
        <div class="labname"><h2>LABALLY</h2></div>
        <div class="detailname"><h2>center detail</h2></div>
    </div>
    
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Center-name</th>
            <th scope="col">Address</th>
            <th scope="col">Timing</th>
            <th scope="col">Phone Number</th>
          </tr>
        </thead>
        <tbody>
        <% center.forEach(function(centers){ %>

          <tr class="rowmodi">
            <th scope="row"><%= centers.centername %></th>
            <td><%= centers.address %></td>
            <td><%= centers.timing %></td>
            <td><%= centers.phone %></td>
          </tr>
        <% }) %>   

        </tbody>
      </table>
    </div>
</body>
</html>