<%- include('./partials/header.ejs') %>

<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-login-form/draw2.png" class="img-fluid"
            alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1" id="error">
        <form method="post" action="" autocomplete="off" id="loginform">
            <div class="form-outline mb-4">
              <input type="text" name="username" id="loginname" class="form-control form-control-lg"
                placeholder="Enter UserName">
              <label class="form-label" for="form3Example3">UserName
            </div>
            <div class="form-outline mb-3">
              <input type="password" name="password" id="loginpassword" class="form-control form-control-lg"
                placeholder="Enter password">
              <label class="form-label" for="form3Example4">Password</label>
            </div>
  
            
            <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">

              
        </form>
        </div>
      </div>
    </div>
  </section>

  <%- include('./partials/footer.ejs') %>